.Post{
  h5 {
    font-size: 2.4rem;
    text-align: center;
  }
  p {
    font-size: 1.6rem;
    text-align: center;
  }

  &Loading, &Error{
    font-size: 3rem;
    color: #ff69b4;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
