<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Add a book!</h1>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About</a>
        <a href="#">Add a book</a>
    </nav>
    <main>
        <form action="/books/" method="post">
            <label for="title">Title</label><input id="title" name="title" type="text"> <br>
            <label for="author">Author</label><input id="author" name="author" type="text"> <br>
            <label for="year">Year</label><input id="year" name="year" type="number"> <br>
            <button type="submit">Add</button>
        </form>
    </main>
    <footer>
        Page author: Wiktor Kycia 5D
    </footer>
</body>
</html>