<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/logo.png">
    <link rel="stylesheet" href="/public/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to our library <img src="/public/logo.png" alt="logo"></h1>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About</a>
        <a href="/add">Add a book</a>
    </nav>
    <main>
        We have 10 books, you can your own!
    </main>
    <footer>
        Stronę wykonał: Wiktor Kycia 5D
    </footer>
</body>
</html>