.Heading
{
  width: 100%;
  text-align: center;
  margin-block: 3rem;
}

.List
{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  li {
    font-size: 2rem;
    transition: all 300ms ease-in;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;

    &:hover
    {
      transform: scale(1.1, 1.1);
      background-color: #c7c7c7;
    }

    a
    {
      color: black;
      text-decoration: none;
    }
  }
}