* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before, &::after {
    box-sizing: border-box;
  }
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;

  body {
    background-color: #f8f8f8;
  }
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
