services:
    database:
        hostname: ${DB_HOST}
        image: mysql:8.0
        restart: always
        env_file:
            - .env
        environment:
            DB_ROOT_PASSWORD: ${DB_PASSWORD}
            DB_USER: ${DB_USER}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_DATABASE: ${DB_NAME}
        ports:
            - '127.0.0.1:3306:${DB_PORT}'
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - mysql-volume:/var/lib/mysql
        healthcheck:
            test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
            timeout: 5s
            retries: 10

    app:
        build: .
        ports:
            - '127.0.0.1:3000:3000'
        depends_on:
            database:
                condition: service_healthy
        env_file:
            - '.env'
        develop:
            watch:
                - action: sync
                  path: .
                  target: /app
                  ignore:
                      - Dockerfile
                      - docker-compose.yaml
                      - package*.json
                - action: rebuild
                  path: .
                  target: /app
                  ignore:
                      - index.js
                      - ./static

volumes:
    mysql-volume:
