.Post{
    width: 60%;
    height: 100%;
    margin: 0 auto;

    overflow-y: scroll;

    &Title {
        font-size: 2.4rem;
        text-align: center;
    }
    &Body {
        font-size: 1.6rem;
        text-align: left;
        margin: 5rem 0;
    }

    &Loading, &Error{
        font-size: 3rem;
        color: #646cff;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &Link {
        display: block;
        width: fit-content;
        background-color: #646cff;
        padding: 1rem 1.5rem;
        color: #fff;
        font-size: 1.4rem;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: darken(#646cff, 40);
        }
    }

    &CommentContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin: 4rem auto;
        padding: 0 2rem;
    }
}
