.Heading
{
  width: 100%;
  text-align: center;
  margin-block: 3rem;
}

.Button
{
  padding: 1rem;
  border-radius: 0.5rem;
  margin: auto 0;
}

.Container
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  padding-block: 3rem;
  padding-inline: 4rem;
}