.User
{
    &Loading, &Error{
        font-size: 3rem;
        color: #646cff;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
    }

    &Username
    {
        font-size: 5.4rem;
        text-align: left;
    }

    &Name
    {
        color: lighten(black, 20%);
        font-size: 3.2rem;
        text-align: left;
    }

    &Website
    {
        color: grey;
        font-size: 2.4rem;
        text-align: left;
        margin-block: 1.8rem;
    }

    &Article
    {
        margin-inline: 20%;

        &Section
        {
            border: 1px dashed black;
            border-radius: 1.2rem;
            padding: 1.2rem;
            width: 300px;
            height: 200px;
            overflow: scroll;

            &Title
            {
                font-size: 2.4rem;
                padding-block: 0.6rem;
            }

            &Item
            {
                font-size: 1.6rem;
                padding: 0.4rem;
            }

            &List
            {
                font-size: 1.6rem;
                &Item
                {
                    list-style-type: none;
                    font-size: 1.2rem;
                    color: lighten(black, 30%);
                    padding-left: 1.5rem;
                }
            }
        }
    }

    &Article:nth-of-type(2) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
    }
}
.Link
{
    text-decoration: none;
    color: #646cff;
    transition: all 330ms ease;

    &:hover
    {
        color: darken(#646cff, 30%);
    }
}

