services:
  database:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin123
    volumes:
      - mysql-volume:/var/lib/mysql
    healthcheck:
        test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
        timeout: 5s
        retries: 10

  app:
    build: .
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      database:
        condition: service_healthy



volumes:
  mysql-volume: