.Heading
{
  width: 100%;
  text-align: center;
  margin-block: 3rem;
}

.List
{
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  li {
    font-size: 2rem;
  }
}